/* General container styles */
.container {
  width: 84%;
  margin: 50px auto;
  margin-top: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table styles */
.questionTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.questionTable th, .questionTable td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  text-align: center;
}

.questionTable th {
  background-color: #19CA83;
  color: #fff;
  font-size: 18px;
}

.questionTable tr {
  transition: background-color 0.3s ease;
}

.questionTable tr:hover {
  background-color: #f9f9f9;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #19CA83;
  color: #19CA83;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:disabled {
  cursor: not-allowed;
  color: #ccc;
  border-color: #ccc;
}

.pagination .activePage {
  background-color: #19CA83;
  color: #fff;
  font-weight: bold;
}
