.container {
    display: flex;
    height: 100vh;
}

.content {
    margin-left: 50px;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.formSection {
    margin-bottom: 20px;
}

.formSection input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formSection button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formSection button:hover {
    background-color: #0056b3;
}

.tableSection {
    overflow-x: auto;
    margin-top: 20px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
}

.userTable th,
.userTable td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background-color: #f8f9fa;
}

.userTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.userTable td button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.userTable td button:hover {
    background-color: #0056b3;
}
