/* UserManagement.module.css */
.container {
    display: flex;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    background-color: #0056b3;
}

.content {
    flex: 1;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Ensure content scrolls if it overflows */
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.filterSection {
    display: flex;
    flex-wrap: wrap; /* Allow the filters to wrap to the next line */
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filterRow {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex: 1 1 100%; /* Allow rows to wrap and take full width */
}

.filterRow label {
    margin-right: 10px;
    white-space: nowrap;
    font-weight: bold;
}

.filterSelect,
.filterInput {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
}

.filterButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.filterButton:hover {
    background-color: #0056b3;
}

.tableSection {
    overflow-x: auto;
    border: 1px solid #000; /* Add black border around the table section */
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userTable {
    width: 100%;
    border-collapse: collapse;
}

.userTable th,
.userTable td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.userTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.userTable {
    border: 1px solid #000; /* Add black border around the table */
}
