@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.announceContainer{
    width: 50vw;
    user-select: none;
}
.announceHeader{
    padding-left: 40px;
    padding-block: 0.1rem;
    font-size: 4rem;
    font-weight: 900;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #E2E2E2;
}
.announceMid{
    padding-block: 0.1rem;
    display: flex;
    justify-content: space-between;
}
.searchCategory{
    display: flex;
    list-style: none;
}
.searchCategoryItem{
    position: relative;
    overflow: hidden;
    padding: 0px 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.1s linear
}
.searchCategoryItem.selected,
.searchCategoryItem:hover{
    font-weight: 700;
}
.searchIcon{
    width: 1.5rem;
}
.searchBar{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.searchTextarea{
    all: unset;
    width: 10rem;
    font-size: 1rem;
    border-bottom: 1px solid white;
}
.searchTextarea:focus{
    border-bottom: 1px solid #E2E2E2;
}
.announceItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    gap: 2rem;
}
.announceCategory,
.announceDate{
    font-size: 1rem;
    flex-basis: 4rem;
}
.announceTitle{
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
#announceBottom{
    display: flex;
    justify-content: space-between;
}
.loadMore,
.writeAnnounce,
.announceTitle,
.searchIcon{
    cursor: pointer;
}
.announceTitle.important{
    font-weight: 700;
}
.searchButton{
    all:unset;
}
.searchIcon{
    transition: 0.1s linear;
}
.searchIcon:hover{
    transform: scale(110%);
}
.announce{
    margin-top: 1rem;
}
.announceItem{
    padding: 2.5vh;
    border-bottom: 1px solid #E2E2E2;
}
.announceBottom{
    padding-left: 40px;
    margin: 1rem;
    font-size: 1.25rem;
    display:flex;
    justify-content: space-between;
}
.loadMore,
.writeAnnounce{
    all: unset;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
.loadMore:hover,
.writeAnnounce:hover{
    font-weight: 700;
}

.writeAnnounce.disabled{
    display:none;
}
.announceTitle::before,
.searchCategoryItem::before,
.loadMore::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 244, 230, 0.5);
    z-index: -1;
    transition: left 1s;
}

.announceTitle:hover::before,
.searchCategoryItem:hover::before,
.loadMore:hover::before{
    left: 0;
}

@Media screen and (80rem >= width){
    .announceHeader{
        font-size: 1.75rem;
    }
    .searchCategory{
        flex-direction: column;
    }
    .searchCategoryItem{
        font-size: 1rem;
    }
    .searchTextarea{
        width: 20vw;
    }
    .announceItem{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1rem;
        gap: 0.2rem;
    }
    .announceCategory,
    .announceDate{
        font-size: 0.75rem;
        flex-basis: 0;
    }
}