

.chaticon-container {
    position: fixed;
    bottom: 3%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.chaticon{
    width: 24px;
    height: 24px;
}

.chaticon-container:hover{
    transform: scale(90%);
}

.chaticon-notification{
    position: absolute; /* Positioned relative to its nearest positioned ancestor, `.chattoggle` */
    top: -10px; /* Positioned slightly above the circle */
    right: -10px; /* Positioned slightly to the right of the circle */
    height: 20px; /* Fixed height */
    padding: 5px; /* Horizontal padding to allow for more content */
    min-width: 20px; /* Minimum width to maintain aspect ratio for circle */
    line-height: 20px; /* Line height to vertically center text, should match the height */
    background-color: red; /* Notification color */
    color: white; /* Text color */
    border-radius: 50%; /* Full circle when width equals height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Shadow for depth */
    font-size: 12pt; /* Font size for visibility */
    white-space: nowrap; /* Prevents the content from wrapping */
}