/* NavBar.module.css */
.navbar {
    width: 100vw;  /* 전체 화면 너비에 맞춤 */
    background-color: #343a40; /* 기본 배경색을 Bootstrap 기본 색상과 일치시킴 */
    padding: 10px 20px;
    box-sizing: border-box;  /* 패딩과 보더를 포함한 박스 크기 조정 */
    display: flex;
    justify-content: space-between; /* 좌우 끝에 요소를 배치 */
    align-items: center; /* 요소들을 수직으로 중앙 정렬 */
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar li:hover {
    color: #ddd;
}

.search-container {
    display: flex;
    align-items: center;
}

.search {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
