/* 컨테이너 상단 여백 추가 */
.container {
  margin-top: 20px;

}

/* 유연한 레이아웃을 위한 플렉스 컨테이너 */
.flexContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 드롭다운의 기본 위치 및 마진 설정 */
.dropdown {
  position: relative;
  margin-right: 10px;
}

/* 드롭다운 토글 버튼의 스타일 */
.dropdownToggle {
  padding: 10px 20px;
  border: rgb(37, 182, 155) solid 3px; /* 테두리 색상 */
  border-radius: 3px;
  background-color: #ffffff; /* 배경색 */
  color: rgb(110, 110, 110); /* 글씨 색상 */
  font-size: 16px;
  cursor: pointer;
  /*transition: background-color 0.3s ease, color 0.3s ease; !* 부드러운 배경색과 글씨 색상 전환 *!*/
}

/* 드롭다운 토글 버튼 호버 시 스타일 */
.dropdownToggle:hover {
  background-color: #e4ff9b; /* 배경색 */
  color: rgb(110, 110, 110); /* 글씨 색상 유지 */
}

/* 드롭다운 메뉴의 스타일 */
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  padding: 10px 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15); /* 테두리 */
  border-radius: 4px;
  background-color: #ffffff; /* 배경색 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 드롭다운 항목의 기본 스타일 */
.dropdownItem {
  padding: 10px 20px;
  width: 100%;
  color: #212529; /* 글씨 색상 */
  text-align: left;
  white-space: nowrap;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease; /* 부드러운 배경색과 글씨 색상 전환 */
}

/* 드롭다운 항목 호버 및 활성 상태 스타일 */
.dropdownItem:hover,
.dropdownItemActive {
  background-color: #ffc6dc; /* 배경색 */
  color: #212529; /* 글씨 색상 유지 */
}

/* 드롭다운 메뉴의 그라데이션 배경 */
.customGradient {
  background: linear-gradient(135deg, #fbfbfb, #ffffff);
}

/* 모든 카테고리 항목의 스타일 */
.allCategories {
  padding: 10px 20px;
  width: 100%;
  color: #212529; /* 글씨 색상 */
  text-align: left;
  background: none;
  /*border-top: 1px solid #ddd; !* 상단 테두리 *!*/
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease; /* 부드러운 배경색과 글씨 색상 전환 */
}

/* 모든 카테고리 항목 호버 시 스타일 */
.allCategories:hover {
  background-color: #b3d8ff; /* 배경색 */
  color: #212529; /* 글씨 색상 유지 */
}