.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f6f6f6;
}

.threebtn {
    width:600px;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.topInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.infoItem {
    font-size: 1rem;
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    gap:700px;
    /*margin-bottom: 10px;*/
    margin-top: 20px;
    align-items:center;
}

.actionButton {
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left:10px;
    background-color: #ffffff;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100px;
    margin:0px;

}

.redBox {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: visible;
}

.redBox .field {
    width: 90%;
}

.level {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.priceKind {
    background-color: #a499ff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
    text-align: center;
}

.field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.categories, .techStack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category, .techStack img {
    margin: 5px;
}

.category {
    padding: 5px 10px;
    background-color: #20c997;
    border-radius: 4px;
    color: white;
}

.thumbnail {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content {
    text-align: left;
    width: 100%;
}

.content table {
    width: 100%;
    border-collapse: collapse;
}

.content table, .content th, .content td {
    border: 1px solid black;
}

.content th, .content td {
    padding: 8px;
    text-align: left;
}

.content {
    padding: 20px;
    border-radius: 0px;
    width: 800px;
}

.content img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.fixedBox {
    position: fixed;
    bottom: 0;
    width: 50%;
    border: 1px solid black;
    background-color: #ffffff;
    text-align: right;
    padding: 20px;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.07);
    z-index: 1000;
    margin-bottom: 5px;
}

.applyButton {
    background-color: #00c7b7;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.foot {
    height: 70px;
}