.body{
    display: flex;
    justify-content: center;


}

.lecturePackageRegister {
    padding: 20px;
    /*border: 1px solid black;*/
    width: 800px;
    margin-top:30px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    background-color: rgb(246, 253, 255);



}

.h1Title{
    margin-top: 20px;
    margin-bottom:20px;
    font-size: 2em;
    font-weight: bold;

}


.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.5); /* 회색 */
    margin-top: 20px; /* 위로 약간의 여백을 추가 */
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.formSection {
    margin-bottom: 10px;
    margin-top:20px;
}

.title{
    font-weight: bold;
    margin-right: 10px;
}
.titleInput{
    width: 300px;
    border: 2px solid #08c2be;
    border-radius: 3px;
    padding-left: 5px;
}


/* 학습대상자 */
.learning{
    font-weight: bold;
    margin-bottom: 10px;
}


.learningInput{
    width: 300px;
    border: 2px solid #08c2be;
    border-radius: 3px;
    padding-left: 5px;

}

.learningPersonRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}



.learningPersonRow button {
    padding: 5px 10px;
    border: none;
    background-color: #19d2b3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left:5px;
}

.learningPersonRow button:hover {
    background-color: #ff0000;
}

.addButton {
    display: inline-block;
    padding-bottom: 5px;
    background-color: #ffffff;
    color: #1cd1af;
    border: 3px solid #1cd1af;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-left: 10px;

}

.addButton:hover{
    background-color: #ccffe3;
}

.addLearningPersonButton:hover {
    background-color: #1cd1af;
    color:white;
}

/* 선수 지식 */

.ready{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.readyInput{
    width: 300px;
    border: 2px solid #08c2be;
    border-radius: 3px;
    padding-left: 5px;
}


.readyKnowledgeRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}



.readyKnowledgeRow button {
    padding: 5px 10px;
    border: none;
    background-color: #19d2b3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left:5px;
}

.readyKnowledgeRow button:hover {
    background-color: #ff0000;
}

.addReadyKnowledgeButton {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0fa8f3;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    margin-top: 10px;
}

.addReadyKnowledgeButton:hover {
    background-color: #0056b3;
}


/*패키지레벨*/

.levelText{
    font-size: 0.8em;
}


.radius{
    margin-right: 10px;
}

/*가격*/
.priceText{
    margin-right: 10px;
    font-weight: bold;
}

.priceInput{
    padding-left: 5px;
    width: 100px;
    border: 2px solid #19d0b2;
    border-radius: 3px;
}

/*평균수강기한*/
.averageText{
    margin-right: 10px;
    font-weight: bold;
}

.averageInput{
    padding-left: 5px;
    width: 100px;
    border: 2px solid #19d0b2;
    border-radius: 3px;
}



.categoryButton{
    display: inline-block;
    margin-right: 5px;
    /*margin-top: 20px;*/
    margin-bottom: 10px;
    padding: 3px 10px;
    background-color: #0fa8f3;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;

}
.categoryText{
    margin-left:10px;
    font-size: 0.8em;
}


.thumbnailButton,
.saveButton {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 10px;
    background-color: #0fa8f3;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
}

.categoryBox{

    /*margin: 30px 0 ;*/
}

.categoryButton:hover,
.thumbnailButton:hover,
.saveButton:hover {
    background-color: #0056b3;
}

.selectedCategories {
    margin-top: 10px;
    margin-bottom: 20px;
}

.selectedCategory {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #20c997;
    border-radius: 3px;
    color: white;
}

/* Thumbnail preview */
.thumbnailPreview {
    width: 150px; /* 작게 설정 */
    height: 150px; /* 작게 설정 */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #f8f8f8;
    position: relative; /* 부모 컨테이너를 기준으로 자식 위치 조정 */
}

.thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지가 상자에 맞게 조정됨 */
}

.placeholderText {
    font-size: 10px;
    color: #aaa;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CKEditor styles */
.ck.ck-editor__editable {
    background: #fff;
    border: 1px solid hsl(0, 0%, 70%);
    width: 100%;
}

.editor__editable,
    /* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
    /* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
    /* Inline & Balloon build. */
.ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1em;
    line-height: 1.6em;
    min-height: var(--ck-sample-editor-min-height);
    padding: 1.5em 2em;
}

.sidebar .ck-content[role='textbox'],
.ck.ck-annotation-wrapper .ck-content[role='textbox'] {
    min-height: unset;
    width: unset;
    padding: 0;
    background: transparent;
}

/*기술시택*/

.toolText{
    font-weight: bold;
    margin-right: 10px;
}

.toolText2{
    font-size: 0.8em;
    margin-top:10px
}

.techStackSection {
    display: flex;
    justify-content: space-between;
    /*margin-top: 20px;*/
    width: 100%; /* 가로 길이 확장 */
}

.techStacks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%; /* 가로 길이 확장 */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}

.selectedTechStacks {
    width: 70%; /* 가로 길이 확장 */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
    min-height: 300px;
    margin-top: 20px; /* 기술 스택 아래로 이동 */
}

.techStackItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.techStackLogo {
    width: 30px;
    height: 30px;
}

.selectedTechStackItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.selectedTechStackItem button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
}















/**
 * @license Copyright (c) 2014-2024, CKSource Holding sp. z o.o. All rights reserved.
 * This file is licensed under the terms of the MIT License (see LICENSE.md).
 */

/*:root {*/
/*    --ck-sample-base-spacing: 2em;*/
/*    --ck-sample-color-white: #fff;*/
/*    --ck-sample-color-green: #279863;*/
/*    --ck-sample-color-blue: #1a9aef;*/
/*    --ck-sample-container-width: 1285px;*/
/*    --ck-sample-sidebar-width: 350px;*/
/*    --ck-sample-editor-min-height: 400px;*/
/*    --ck-sample-editor-z-index: 10;*/
/*}*/

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

/*.editor__editable,*/
/*    !* Classic build. *!*/
/*main .ck-editor[role='application'] .ck.ck-content,*/
/*    !* Decoupled document build. *!*/
/*.ck.editor__editable[role='textbox'],*/
/*.ck.ck-editor__editable[role='textbox'],*/
/*    !* Inline & Balloon build. *!*/
/*.ck.editor[role='textbox'] {*/
/*    width: 100%;*/
/*    background: #fff;*/
/*    font-size: 1em;*/
/*    line-height: 1.6em;*/
/*    min-height: var(--ck-sample-editor-min-height);*/
/*    padding: 1.5em 2em;*/
/*}*/

/*.ck.ck-editor__editable {*/
/*    background: #fff;*/
/*    border: 1px solid hsl(0, 0%, 70%);*/
/*    width: 100%;*/
/*}*/

/*!* Because of sidebar `position: relative`, Edge is overriding the outline of a focused editor. *!*/
/*.ck.ck-editor__editable {*/
/*    position: relative;*/
/*    z-index: var(--ck-sample-editor-z-index);*/
/*}*/

/*.editor-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    justify-content: center;*/
/*}*/

/*.editor-container--with-sidebar > .ck.ck-editor {*/
/*    width: calc( 100% - var(--ck-sample-sidebar-width) );*/
/*}*/

/* --------- DECOUPLED (DOCUMENT) BUILD. ---------------------------------------------*/
/*body[data-editor='DecoupledEditor'] .document-editor__toolbar {*/
/*    width: 100%;*/
/*}*/

/*body[data-editor='DecoupledEditor'] .collaboration-demo__editable,*/
/*body[data-editor='DecoupledEditor'] .row-editor .editor {*/
/*    !* A pixel is added for each of the border. *!*/
/*    width: calc(21cm + 2px);*/
/*    min-height: calc(29.7cm + 2px);*/
/*    !* To avoid having extra scrolls inside the editor container. *!*/
/*    height: fit-content;*/
/*    padding: 2cm 1.2cm;*/
/*    margin: 2.5rem;*/
/*    border: 1px hsl( 0, 0%, 82.7% ) solid;*/
/*    background-color: var(--ck-sample-color-white);*/
/*    box-shadow: 0 0 5px hsla( 0, 0%, 0%, .1 );*/
/*    box-sizing: border-box;*/
/*}*/

/*body[data-editor='DecoupledEditor'] .row-editor {*/
/*    display: flex;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    overflow-y: auto;*/
/*    background-color: #f2f2f2;*/
/*    border: 1px solid hsl(0, 0%, 77%);*/
/*    !* Limit the max-height of the editor to avoid scrolling from bottom to top to see the toolbar. *!*/
/*    max-height: 700px;*/
/*}*/

/*body[data-editor='DecoupledEditor'] .sidebar {*/
/*    background: transparent;*/
/*    border: 0;*/
/*    box-shadow: none;*/
/*}*/

/* --------- COMMENTS & TRACK CHANGES FEATURE ---------------------------------------------------------------------- */
/*.sidebar {*/
/*    padding: 0 15px;*/
/*    position: relative;*/
/*    min-width: var(--ck-sample-sidebar-width);*/
/*    max-width: var(--ck-sample-sidebar-width);*/
/*    font-size: 20px;*/
/*    border: 1px solid hsl(0, 0%, 77%);*/
/*    background: hsl(0, 0%, 98%);*/
/*    border-left: 0;*/
/*    overflow: hidden;*/
/*    min-height: 100%;*/
/*    flex-grow: 1;*/
/*}*/

/* Do not inherit styles related to the editable editor content. See line 25.*/
/*.sidebar .ck-content[role='textbox'],*/
/*.ck.ck-annotation-wrapper .ck-content[role='textbox'] {*/
/*    min-height: unset;*/
/*    width: unset;*/
/*    padding: 0;*/
/*    background: transparent;*/
/*}*/

/*.sidebar.narrow {*/
/*    min-width: 60px;*/
/*    flex-grow: 0;*/
/*}*/

/*.sidebar.hidden {*/
/*    display: none !important;*/
/*}*/

/*#sidebar-display-toggle {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    left: 15px;*/
/*    top: 30px;*/
/*    border: 0;*/
/*    padding: 0;*/
/*    color: hsl( 0, 0%, 50% );*/
/*    transition: 250ms ease color;*/
/*    background-color: transparent;*/
/*}*/

/*#sidebar-display-toggle:hover {*/
/*    color: hsl( 0, 0%, 30% );*/
/*    cursor: pointer;*/
/*}*/

/*#sidebar-display-toggle:focus,*/
/*#sidebar-display-toggle:active {*/
/*    outline: none;*/
/*    border: 1px solid #a9d29d;*/
/*}*/

/*#sidebar-display-toggle svg {*/
/*    fill: currentColor;*/
/*}*/

/* --------- COLLABORATION FEATURES (USERS) ------------------------------------------------------------------------ */
/*.row-presence {*/
/*    width: 100%;*/
/*    border: 1px solid hsl(0, 0%, 77%);*/
/*    border-bottom: 0;*/
/*    background: hsl(0, 0%, 98%);*/
/*    padding: var(--ck-spacing-small);*/

/*    !* Make `border-bottom` as `box-shadow` to not overlap with the editor border. *!*/
/*    box-shadow: 0 1px 0 0 hsl(0, 0%, 77%);*/

/*    !* Make `z-index` bigger than `.editor` to properly display tooltips. *!*/
/*    z-index: 20;*/
/*}*/

/*.ck.ck-presence-list {*/
/*    flex: 1;*/
/*    padding: 1.25rem .75rem;*/
/*}*/

/*.presence .ck.ck-presence-list__counter {*/
/*    order: 2;*/
/*    margin-left: var(--ck-spacing-large)*/
/*}*/

/* --------- REAL TIME COLLABORATION FEATURES (SHARE TOPBAR CONTAINER) --------------------------------------------- */
/*.collaboration-demo__row {*/
/*    display: flex;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    overflow-y: auto;*/
/*    background-color: #f2f2f2;*/
/*    border: 1px solid hsl(0, 0%, 77%);*/
/*}*/

/*!*body[data-editor='InlineEditor'] .collaboration-demo__row {*!*/
/*!*    border: 0;*!*/
/*!*}*!*/

/*.collaboration-demo__container {*/
/*    max-width: var(--ck-sample-container-width);*/
/*    margin: 0 auto;*/
/*    padding: 1.25rem;*/
/*}*/

/*.presence, .collaboration-demo__row {*/
/*    transition: .2s opacity;*/
/*}*/

/*.collaboration-demo__topbar {*/
/*    background: #fff;*/
/*    border: 1px solid var(--ck-color-toolbar-border);*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border-bottom: 0;*/
/*    border-radius: 4px 4px 0 0;*/
/*}*/

/*.collaboration-demo__topbar .btn {*/
/*    margin-right: 1em;*/
/*    outline-offset: 2px;*/
/*    outline-width: 2px;*/
/*    background-color: var( --ck-sample-color-blue );*/
/*}*/

/*.collaboration-demo__topbar .btn:focus,*/
/*.collaboration-demo__topbar .btn:hover {*/
/*    border-color: var( --ck-sample-color-blue );*/
/*}*/

/*.collaboration-demo__share {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 1.25rem .75rem*/
/*}*/

/*.collaboration-demo__share-description p {*/
/*    margin: 0;*/
/*    font-weight: bold;*/
/*    font-size: 0.9em;*/
/*}*/

/*.collaboration-demo__share input {*/
/*    height: auto;*/
/*    font-size: 0.9em;*/
/*    min-width: 220px;*/
/*    margin: 0 10px;*/
/*    border-radius: 4px;*/
/*    border: 1px solid var(--ck-color-toolbar-border)*/
/*}*/

/*.collaboration-demo__share button,*/
/*.collaboration-demo__share input {*/
/*    height: 40px;*/
/*    padding: 5px 10px;*/
/*}*/

/*.collaboration-demo__share button {*/
/*    position: relative;*/
/*}*/

/*.collaboration-demo__share button:focus {*/
/*    outline: none;*/
/*}*/

/*.collaboration-demo__share button[data-tooltip]::before,*/
/*.collaboration-demo__share button[data-tooltip]::after {*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    transition: all .15s cubic-bezier(.5,1,.25,1);*/
/*    z-index: 1;*/
/*}*/

/*.collaboration-demo__share button[data-tooltip]::before {*/
/*    content: attr(data-tooltip);*/
/*    padding: 5px 15px;*/
/*    border-radius: 3px;*/
/*    background: #111;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    font-size: 11px;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-top: 5px;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.collaboration-demo__share button[data-tooltip]::after {*/
/*    content: '';*/
/*    border: 5px solid transparent;*/
/*    width: 0;*/
/*    font-size: 0;*/
/*    line-height: 0;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    border-bottom: 5px solid #111;*/
/*    border-top: none;*/
/*}*/

/*.collaboration-demo__share button[data-tooltip]:hover:before,*/
/*.collaboration-demo__share button[data-tooltip]:hover:after {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

/*.collaboration-demo--ready {*/
/*    overflow: visible;*/
/*    height: auto;*/
/*}*/

/*.collaboration-demo--ready .presence,*/
/*.collaboration-demo--ready .collaboration-demo__row {*/
/*    opacity: 1;*/
/*}*/

/* --------- PAGINATION FEATURE ------------------------------------------------------------------------------------ */

/* Pagination view line must be stacked at least at the same level as the editor,
   otherwise it will be hidden underneath. */
/*.ck.ck-pagination-view-line {*/
/*    z-index: var(--ck-sample-editor-z-index);*/
/*}*/

/* --------- REVISION HISTORY FEATURE ------------------------------------------------------------------------------ */

/*.revision-viewer-container {*//*---이거야*/
/*    display: none;*/
/*    max-width: 100%;*/
/*    word-wrap: break-word;*/
/*}*/

/*.revision-viewer-sidebar {*/
/*    position: relative;*/
/*    min-width: 310px;*/
/*    overflow: hidden;*/
/*    background: var(--ck-color-toolbar-background);*/
/*    border: 1px solid var(--ck-color-toolbar-border);*/
/*    margin-left: -1px;*/
/*}*/

/* A case when Pagination and Revision History features are enabled in the editor. */
/* Move the square with page number from the Pagination plugin to the left side, so that it does not cover the RH sidebar. */
/*body[data-revision-history='true'] .ck.ck-pagination-view-line::after {*/
/*    transform: translateX(-100%) !important;*/
/*    left: -1px !important;*/
/*    right: unset !important;*/
/*}*/

/* --------- DOCUMENT OUTLINE FEATURE ------------------------------------------------------------------------------ */

/*.document-outline-container {*/  /*---이거야*/
/*    max-height: 80vh;*/
/*    overflow-y: auto;*/
/*    margin-bottom: 1em;*/
/*}*/

/*.document-outline-container .ck.ck-document-outline {*/
/*    min-height: 100%;*/
/*    border: 1px solid var(--ck-color-base-border);*/
/*    background-color: hsl(0, 0%, 96%);*/
/*}*/

/* --------- SAMPLE GENERIC STYLES (not related to CKEditor) ------------------------------------------------------- */
/*body, html {*/
/*    padding: 0;*/
/*    margin: 0;*/

/*    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
/*}*/

/*body {*/
/*    height: 100%;*/
/*    color: #2D3A4A;*/
/*}*/

/*body * {*/
/*    box-sizing: border-box;*/
/*}*/

/*a {*/
/*    color: #38A5EE;*/
/*}*/

/*header .centered {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    min-height: 8em;*/
/*}*/

/*header h1 a {*/
/*    font-size: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #2D3A4A;*/
/*    text-decoration: none;*/
/*}*/

/*header h1 img {*/
/*    display: block;*/
/*    height: 64px;*/
/*}*/

/*header nav ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*}*/

/*header nav ul li {*/
/*    display: inline-block;*/
/*}*/

/*header nav ul li + li {*/
/*    margin-left: 1em;*/
/*}*/

/*header nav ul li a {*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    color: #2D3A4A;*/
/*}*/

/*header nav ul li a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*main .message {*/
/*    padding: 0 0 var(--ck-sample-base-spacing);*/
/*    background: var(--ck-sample-color-green);*/
/*    color: var(--ck-sample-color-white);*/
/*}*/

/*main .message::after {*/
/*    content: "";*/
/*    z-index: -1;*/
/*    display: block;*/
/*    height: 10em;*/
/*    width: 100%;*/
/*    background: var(--ck-sample-color-green);*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/

/*main .message h2 {*/
/*    position: relative;*/
/*    padding-top: 1em;*/
/*    font-size: 2em;*/
/*}*/

/*.centered {*/
/*    max-width: var(--ck-sample-container-width);*/
/*    margin: 0 auto;*/
/*    padding: 0 var(--ck-sample-base-spacing);*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    position: relative;*/
/*}*/

/*.btn {*/
/*    cursor: pointer;*/
/*    padding: 8px 16px;*/
/*    font-size: 1rem;*/
/*    user-select: none;*/
/*    border-radius: 4px;*/
/*    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,opacity .2s ease-in-out;*/
/*    background-color: var(--ck-sample-color-button-blue);*/
/*    border-color: var(--ck-sample-color-button-blue);*/
/*    color: var(--ck-sample-color-white);*/
/*    display: inline-block;*/
/*}*/

/*.btn--tiny {*/
/*    padding: 6px 12px;*/
/*    font-size: .8rem;*/
/*}*/

/*footer {*/
/*    margin: calc(2*var(--ck-sample-base-spacing)) var(--ck-sample-base-spacing);*/
/*    font-size: .8em;*/
/*    text-align: center;*/
/*    color: rgba(0,0,0,.4);*/
/*}*/

/* --------- RWD --------------------------------------------------------------------------------------------------- */
/*@media screen and ( max-width: 800px ) {*/
/*    :root {*/
/*        --ck-sample-base-spacing: 1em;*/
/*    }*/

/*    header h1 {*/
/*        width: 100%;*/
/*    }*/

/*    header h1 img {*/
/*        height: 40px;*/
/*    }*/

/*    header nav ul {*/
/*        text-align: right;*/
/*    }*/

/*    main .message h2 {*/
/*        font-size: 1.5em;*/
/*    }*/
/*}*/

/*-----------------------------------------*/

/*!**/
/* * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.*/
/* * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license*/
/* *!*/

/*!* See ckeditor/ckeditor5#936. *!*/
/*.ck.ck-placeholder,*/
/*.ck .ck-placeholder {*/
/*    position: relative;*/

/*    &::before {*/
/*        position: absolute;*/
/*        left: 0;*/
/*        right: 0;*/
/*        content: attr(data-placeholder);*/

/*        !* See ckeditor/ckeditor5#469. *!*/
/*        pointer-events: none;*/
/*    }*/
/*}*/

/*!* See ckeditor/ckeditor5#1987. *!*/
/*.ck.ck-read-only .ck-placeholder {*/
/*    &::before {*/
/*        display: none;*/
/*    }*/
/*}*/

/*!**/
/* * Rules for the `ck-placeholder` are loaded before the rules for `ck-reset_all` in the base CKEditor 5 DLL build.*/
/* * This fix overwrites the incorrectly set `position: static` from `ck-reset_all`.*/
/* * See https://github.com/ckeditor/ckeditor5/issues/11418.*/
/* *!*/
/*.ck.ck-reset_all .ck-placeholder {*/
/*    position: relative;*/
/*}*/
