.commentsContainer {
    margin: 20px;
    font-size: 18px;
}

.commentItem,
.replyItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.replyItem {
    margin-left: 40px;
}

.profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.replyItem .profileImage {
    width: 50px;
    height: 50px;
}

.commentContentWrapper {
    flex: 1;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commentNickname {
    font-weight: bold;
}

.commentContentContainer {
    width: 100%;
}

.commentContent {
    margin-top: 5px;
}

.divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.commentInput,
.replyInput,
.editInput {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.commentInput:focus,
.replyInput:focus,
.editInput:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.submitButton {
    background: none;
    border: none;
    cursor: pointer;
}

.submitButton img {
    width: 30px;
    height: 30px;
}

.commentActions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.editButton,
.deleteButton,
.replyButton {
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.editButton:hover,
.deleteButton:hover,
.replyButton:hover {
    text-decoration: underline;
}

.replyContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addCommentContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.newComment {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.newComment input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.newComment input:focus {
    outline: none;
}

.commentInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.toggleRepliesButton {
    background: none;
    border: none;
    color: #007bff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start; /* 왼쪽 정렬을 위해 추가 */
}

.toggleRepliesButton:hover {
    text-decoration: underline;
}

.repliesList {
    list-style-type: none;
    padding-left: 0px; /* 답글 들여쓰기 */
    margin-top: 10px;
}

.reportButton {
    background: none;
    border: none;
    color: #d9534f;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .reportButton:hover {
    color: #c9302c;
  }
  
  .reportPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .popupContent {
    display: flex;
    flex-direction: column;
  }
  
  .popupContent h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .popupContent input {
    width: 96%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .popupContent .submitButton,
  .popupContent .cancelButton {
    background-color: #52c095;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .popupContent .cancelButton {
    background-color: #6c757d;
  }
  
  .popupContent .submitButton:hover {
    background-color: #3f8a71;
  }
  
  .popupContent .cancelButton:hover {
    background-color: #5a6268;
  }
  