.commentsContainer {
    margin: 20px;
}

.commentItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentHeader {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.commentNickname {
    font-weight: bold;
    margin-right: 10px;
}

.commentContent {
    margin-left: 50px;
    width: 100%;
}

.commentInput,
.replyInput,
.editInput {
    width: calc(100% - 50px);
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-left: 50px;
}

.commentInput:focus,
.replyInput:focus,
.editInput:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.submitButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.submitButton img {
    width: 20px;
    height: 20px;
}

.commentActions {
    margin-left: auto;
}

.editButton,
.deleteButton {
    cursor: pointer;
    margin-left: 10px;
}

.replyContainer {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}

.replyButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    margin-left: auto;
}

.replyButton:hover {
    text-decoration: underline;
}

.editContainer {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}
