.tableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.packagetitle {
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    left: 50px;
    width: 100%;
    max-width: 1000px;
    height: 110px;
    background: #D4FFEE;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #19CA83;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    box-sizing: border-box;
    position: relative;
    top: 10px;
    width: 100%;
    max-width: 1000px;
    left: 50px;
    height: 50px;
    background: #D4FFEE;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #19CA83;
    display: flex;
    align-items: center;   
}

.subtitle .num {
    flex-basis: 15%;
}
  
.subtitle .title {
    flex-basis: 60%;
}
  
.subtitle .read {
    flex-basis: 25%;
}

.list {
    box-sizing: border-box;
    position: relative; /* 상대 위치 설정 */
    width: 100%;
    max-width: 1000px;
    margin-left: 50px; /* 왼쪽 여백 설정 */
    height: 50px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #19CA83;
    display: flex;
    align-items: center;
    top: 10px;
}

.list .num {
    flex-basis: 15%;
}

.list .title {
    flex-basis: 60%;
    margin-left: 25px;
}

.list .read {
    flex-basis: 25%;
    text-align: center;
}
