.container {
    font-size: 0.9rem;
    /* margin: 20px auto; */
    margin-top: 40px;
    padding: 20px;
    max-width: 1200px;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  } */
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .table th,
  .table td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .table th {
    background-color: #5cd2b6;
    font-weight: bold;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  /* td img {
    display: inline-block;
  } */
  