/* NaverIdLogin */
#naverIdLogin {
    display: none !important;
}

/* NaverLoginBtn */
.NaverLoginBtn {
	display: flex;
	align-items: center;
	width: 185px;
	height: 45px;
	background-color: #03c75a;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

/* NaverIcon */
.NaverIcon {
	width: 30px;
	height: 30px;
	margin-left: 2px;
	background: url('../images/navericon.png') no-repeat center;
	background-size: 30px;
}

/* NaverLoginTitle */
.NaverLoginTitle {
	margin-left: 4px;
	color: #ffffff; /* Assuming theme.White translates to #ffffff */
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
