.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	background-color: #f7f7f7;
	padding: 20px;
}

.form {
	background: #ffffff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 40px;
	max-width: 350px;
	width: 100%;
	margin-top: 50px;
}

.formBody {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 40px;
}

.title {
	display: block;
	position: relative;
	font-size: 2rem;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	/* right: 20px; */
}

.inputSection,
.codeSection {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.input {
	/* flex: 1; */
	/* padding: 8px; */
	/* border: 1px solid #ccc; */
	/* border-radius: 5px; */

	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.verifyButton,
.resendButton,
.verifyCodeButton {
	margin-left: 10px;
	width: 80px;
	padding: 10px 5px 10px 5px;
	color: white;
	font-size: 0.6rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: #ccc;
	font-weight: bold;
	align-items: center;
	justify-items: center;
	text-align: center;
}

.verifyButton.enabled,
.verifyCodeButton.enabled {
	background-color: #28a745;
}

.verifyButton.enabled:hover,
.verifyCodeButton.enabled:hover {
	background-color: #218838;
}

.verifyButton.disabled,
.verifyCodeButton.disabled {
	background-color: #ccc;
}

.verifyCodeButton {
	position: relative;
	/* top: -6px; */
	left: -27px;
}

.resendButton {
	background-color: #28a745;
}

.cancelButton {
	background-color: #ccc;
}

.saveButton {
	background-color: #28a745;
}

.buttons {
	display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    /* gap: 20px; */
    /* position: relative; */
    /* left: 30px;*/
}

.timer {
	/* display: flex; */
	position: relative;
	top: -2px;
	left: -45px;
	/* margin-left: 10px; */
	font-size: 0.7rem;
	color: black;
	transition: color 1s ease;
	margin: 0;
}

.redTimer {
	color: red;
}

.cancelButton,
.saveButton {
	width: auto;
	padding: 5px 30px 5px 30px;
	font-size: 0.8rem;
	border-radius: 3px;
	border: none;
	margin: 0 10px;
	cursor: pointer;
}

.cancelButton {
	background-color: #ccc;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.cancelButton:hover {
	background-color: #999;
}

.saveButton {
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.saveButton:hover {
	background-color: #218838;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 130px;
	background-color: #ffffff;
	color: #000;
	text-align: left;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 41%;
	margin-left: -100px;
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0px 0px 10px 0px rgba(72, 72, 72, 0.5);
	font-size: 0.75rem;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 45%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: #ffffff transparent transparent transparent;
}

.tooltip .input:focus + .tooltiptext {
	visibility: visible;
	opacity: 80%;
}

.valid {
	color: rgb(79, 164, 79);
}

.invalid {
	color: rgb(241, 60, 60);
}
