.bubbleContainer{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    user-select: none;
}
.bubbleContainer::-webkit-scrollbar {
    width: 10px;
}
.bubbleContainer::-webkit-scrollbar-track {
    background: #f0f0f0;
}
.bubbleContainer::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}
.bubbleContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.bubbleWrapper{
    display: flex;
    padding-inline: 0.1rem;
}
.eachBubble{
    display: flex;
    width: 94%;
    gap: 0.5rem;
    padding-block: 0.2rem;
}
/*아래 두개가 각각 적용되어야 함*/
.reverseBubbleWrapper{
    flex-direction: row-reverse;
}
.reverseEachBubble{
    flex-direction: row-reverse;
}
.profile{
    flex-shrink: 0;
    user-select: none;
}
.profile > img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: scale-down;
}
.main{
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.nickname{
    font-size: 0.8rem;
    user-select: none;
}
.content{
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    background-color: #E0E0E0;
    border-radius: 0.5rem 0.5rem;
}
.imgContainer{
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}
.img{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    object-fit: scale-down;
}
.end{
    flex-shrink: 0;
    align-self: flex-end;
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
}
.reverseEnd{
    align-items: flex-end;
}
.howManyRead,
.time{
    user-select: none;
    font-size: 0.75rem;
}
.eachSettings{
    cursor: pointer;
    align-self: flex-end;
    position: relative;
}
.eachSettings svg{
    width: 0.7rem;
}
.settingDropdown{
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3);
    user-select: none;
    position: absolute;
    right: 200%;
    bottom: -100%;
    background-color: white;
    list-style: none;
    padding-left: 0;
    border-radius: 0.25rem 0.25rem;
    overflow: hidden;
    text-align: center;
}
.settingDropDown2{
    bottom: -130%;
    right: -800%;
}

.settingDropdown li{
    width: 5rem;
    padding: 0.1rem;
    transition: background-color 0.5s;
}

.settingDropdown li:hover{
    background-color: #E3E3E3;
}

.close{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 3rem;
    color: white;
    font-weight: 900;
    cursor:pointer;
    transition: transform 0.5s;
}
.close:hover{
    transform: scale(110%);
}
.prev{
    position: absolute;
    top: 47%;
    left: 2%;
    font-size: 3rem;
    color: white;
    cursor:pointer;
    padding: 1rem;
}

.prev:hover{
    animation: prevmove 1s linear;
}

.next{
    position: absolute;
    top: 47%;
    right: 2%;
    font-size: 3rem;
    color: white;
    cursor:pointer;
    padding: 1rem;
}
.next:hover{
    animation: nextmove 1s linear;
}

@keyframes prevmove {
    0%{
        left: 2%
    }
    50%{
        left: 1.5%
    }
    100%{
        left: 2%
    }
}

@keyframes nextmove {
    0%{
        right: 2%
    }
    50%{
        right: 1.5%
    }
    100%{
        right: 2%
    }
}

.downloadButton{
    all: unset;
    position: fixed;
    top: 3.8%;
    right: 5%;
    cursor: pointer;
}
.downloadIcon{
    width: 2rem;
    height: 2rem;
}