.eachChatContainer{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.eachChatContainer:hover{
    background-color: #E0E0E0;
}
.pictureFrame{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    margin: 0.3rem;
    position: relative;
}
.eachPicture{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.eachPicture > img{
    width: 4rem;
    height: 4rem;
    object-fit: scale-down;
}
.pin{
    position: absolute;
    width: 1.2rem;
    right: -5%;
    top: 73%;
}
.middle{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow: hidden;
}
.content{
    margin: 0;
    overflow: hidden;
    display: flex;
    gap: 0.2rem;
}
.name{
    flex-grow: 1;
    overflow: hidden;
    overflow-wrap:break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notread{
    border-radius: 0.7rem 0.7rem;
    font-size: 0.75rem;
    color: white;
    background-color: red;
    padding: 0.3rem;
    text-align: center;
}
.people{
    font-size: 0.8rem;
    font-weight: 900;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.message{
    overflow: hidden;
    overflow-wrap:break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time{
    padding-right: 0.2rem;
    font-size: 0.8rem;
    flex-shrink: 0;
    margin-top: 1rem;
    align-self: flex-start;
}