.eachPersonContainer{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    gap: 1rem;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.eachPersonContainer:hover{
    background-color: #E0E0E0;
}
.checked{
    background-color: #E0E0E0;
}
.imageFrame{
    margin-left: 1rem;
    border: 1px solid #bbbbbb;
    width: 4rem;
    height: 4rem;
    border-radius: 0.7rem 0.7rem;
    overflow: hidden;
}

.image{
    width: 100%;
    object-fit: scale-down;
}
.userdetail{
    margin-right: 1rem;

    flex-grow: 5;
}