.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    text-align: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    margin-bottom: 20px;
}

.inputField {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0ac48c;
    border-radius: 4px;
    width: calc(47% - 10px);

}

.formInput{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0ac48c;
    border-radius: 4px;
    width: calc(47% - 10px);
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    gap:20px;
}

.pdfPreview {
    width: 100%;
    margin-bottom: 10px;
}

.pdfPlaceholder {
    width: 100%;
    height: 200px;
    border: 1px dashed #0ac48c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.pdfIframe {
    width: 100%;
    height: 200px;
    border: none;
}

.fileInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmButton{
    font-size: 0.9em;
    font-weight: bolder;
    margin-right: 10px;
    padding:5px;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    /*box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);*/
    background-color: #ffffff;
    color: #0ac88e;
    border: 3px solid #0ac68d;
}

.confirmButton:hover {
    border: 3px solid #0ac88e;
    background-color: #0aca8f;
    color: white;
}
.loading{
    margin-left:335px;
    font-size: 0.8em;
    color: red;
}


.fileInput {
    display: inline-block;
}

.verifyText {
    margin-left: 10px;
}

.modalActions {
    display: flex;
    justify-content: center;
    gap:10px;
    width: 100%;
}

.saveButton {
    background-color: #45cdc2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 37%;
    font-weight: bolder;
    font-size: 1.1em;
}

.cancelButton {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 37%;
    font-weight: bolder;
    font-size: 1.1em;
}

.saveButton:hover {
    background-color: #3ba3cf;
}

.cancelButton:hover {
    background-color: #5a6268;
}