/* myAttendance.module.css */
.attendanceContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f8fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.couponBanner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.couponItem {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*.spanString {*/
/*    color: #078d0e;*/
/*}*/

.calendar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.navButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
}

.navButton:hover {
    color: #333;
}

.dropdownArrow {
    margin-left: 5px;
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.monthDropdown,
.yearDropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.monthOption,
.yearOption {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.monthOption:hover,
.yearOption:hover {
    background-color: #f1f1f1;
}

.week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dayOfWeek {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    color: #666;
}

.day {
    width: calc(100% / 7);
    height: 50px;
    text-align: center;
    position: relative;
}

.present,
.absent {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.present {
    background-color: #76c7c0;
    color: white;
}

.absent {
    background-color: #ff6b6b;
    color: white;
}

.day {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #f1f1f1;
}
