/* styles/myPage.module.css */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.mypage {
    display: flex;
}

.title {
    margin-bottom: 20px;
}

.content {
    margin-left: 20px;
    padding: 20px;
    flex: 1;
}
