.categoryToggle {
    position: relative;
    display: inline-block;
  }
  
  .categoryButton {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: block;
  }
  
  .upperCategories {
    display: flex;
    flex-direction: column;
  }
  
  .upperCategories button {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  .upperCategories button.selected {
    background-color: #e0e0e0;
    color: red;
  }
  
  .subCategories {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .subCategories button {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .subCategories button:hover {
    background-color: #f0f0f0;
  }