/* InsertPost.module.css */
.postInsertContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  

  
  .formGroup {
    margin-bottom: 20px;
  }

  
  .input,
  .select,
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .textarea {
    height: 200px;
    resize: vertical;
  }
  
  .fileDropArea {
    width: 100%;
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .fileDropArea p {
    margin: 0;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .cancelButton {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #5a6268;
  }
  