/* PopularTags.module.css */
.popularTagsContainer {
    padding: 16px;
    background-color: #ffffff;
    
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  }

  .popularTagsContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  .header {
    margin-bottom: 16px;
  }
  
  .header h4 {
    margin: 0;
  }
  
  .popularTagsList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .popularTagItem {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
    margin-bottom: 8px;
  }

  .popularTagItem:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); */
  }
  
  .popularTagLink {
    text-decoration: none;
    color: #2a6fae;
  }
  
  .popularTagLink:hover {
    text-decoration: underline;
  }
  