/* PopularPosts.module.css */
.popularPostsContainer {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  flex-direction: column;
  margin-bottom: 40px; /* 하단 마진 추가 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.popularPostsContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header h4 {
  flex-grow: 1;
  font-size: 1.1em;
  margin: 0;
}

.header img {
  width: 24px;
  height: 24px;
}

.popularPostsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popularPostItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 0.8rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.popularPostItem:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); */
}

.rankIcon {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 8px;
}

.rankIcon1 {
  color: gold;
}

.rankIcon2 {
  color: silver;
}

.rankIcon3 {
  color: rgb(173, 121, 69);
}

.popularPostLink {
  flex-grow: 1;
  text-decoration: none;
  color: #333;
  word-break: break-word; /* 긴 단어를 줄바꿈하도록 설정 */
  display: inline-block; /* 블록 요소로 변경 */
  max-width: 170px; /* 최대 너비를 설정하여 줄바꿈을 유도 */
  white-space: normal; /* 줄바꿈을 허용 */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  
}



.popularPostMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.popularPostComments {
  margin-left: 23px;
  margin-right: 5px;
  color: #2a6fae;
}

.popularPostTime {
  color: #aaa;
  font-size: 0.8em;
}

.popularPostLink:hover {
  text-decoration: underline;
}

/* .popularPostComments {
  margin-left: 16px;
  color: #2a6fae;
}

.popularPostTime {
  color: #aaa;
  font-size: 0.8em;
  margin-top: 4px;
} */
