/* PostIndex.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #f3f4f6);
}

.header {
  background: linear-gradient(to right, #3b82f6, #9333ea); /* Tailwind blue-500 to purple-600 */
  padding: 2rem;
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind shadow-lg */
  text-align: center;
  color: white;
  width: 100%;
}

.header h1 {
  font-size: 2.25rem; /* Tailwind text-4xl */
  font-weight: 700; /* Tailwind font-bold */
  margin-bottom: 1rem; /* Tailwind mb-4 */
  animation: fadeIn 1s ease-out forwards;
}

.header h2 {
  font-size: 1.5rem; /* Tailwind text-2xl */
  font-weight: 300; /* Tailwind font-light */
  animation: fadeIn 1s ease-out 1s forwards; /* Tailwind animation delay equivalent */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -200px; /* 왼쪽으로 이동시킬 값을 설정합니다 */
  
}

.sidebar {
  margin-top: 100px;
  width: 300px; /* 사이드바 너비를 설정합니다 */
  margin-right: 20px;
  margin-left: 200px;
}

.mainContent {
  flex-grow: 1;
  max-width: 900px; /* 최대 너비를 설정하여 콘텐츠의 가독성을 높입니다 */
}