.postListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to right, #ffffff, #f3f4f6);
  /* border-radius: 0.75rem; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.filterButtons {
  display: flex;
  justify-content: flex-start;
  /* width: 100%; */
  margin-bottom: 0.5rem;
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background: #e0e7ff;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  font-size: 0.9rem;
  margin-right: 20px;
}

.filterButton:hover {
  background: #c7d2fe;
  transform: scale(1.05);
}

.filterButton.active {
  background: #6366f1;
  color: white;
  transform: scale(1.1);
}

.loading {
  font-size: 0.9rem;
  color: #4b5563;
}

.postList {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 800px;
}

.postItem {
  background: white;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.postItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.postLink {
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: background 0.3s ease;
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 링크 색상 제거 */
}

.postLink:hover {
  background: #f9fafb;
}

.postHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  position: relative; /* 상대 위치를 사용하여 자식 요소의 절대 위치를 설정 */
}

.postAvatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 3px solid #6366f1;
}

.postMeta {
  margin-left: 1rem;
  display: flex;
  flex-direction: column; /* 닉네임과 카테고리를 세로로 배치 */
  align-items: flex-start; /* 아이템을 왼쪽에 정렬 */
}

.postNickname {
  font-size: 0.9rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 0.25rem; /* 닉네임과 카테고리 사이의 간격 */
}

.postCategory {
  font-size: 0.9rem;
  color: #ffffff; /* 텍스트 색상 */
  background-color: #6366f1; /* 배경색 */
  padding: 0.25rem 0.5rem; /* 패딩 */
  border-radius: 0.375rem; /* 테두리 반경 */
  display: inline-block; /* 인라인 블록으로 설정 */
  margin-bottom: 0.5rem; /* 카테고리와 시간 사이의 간격 */
  width: auto; /* 글씨 크기만큼 상자 사이즈를 설정 */
}

.postTime {
  position: absolute;
  top: 0;
  right: 40px; /* 오른쪽에서 40px 떨어진 위치 */
  font-size: 0.9rem;
  color: #4b5563;
}

.bookmarkIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.bookmarkIcon:hover {
  transform: scale(1.2);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.tagItem {
  background: #e0e7ff;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  color: #3730a3;
  font-weight: bold;
}

.postTitle {
  font-size: 0.9rem;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.postSnippet {
  font-size: 0.9rem;
  color: #374151;
  line-height: 1.75rem;
}

.postFooter {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
}

.postStats {
  display: flex;
  gap: 1rem; /* 아이콘 간 간격 */
}

.postStats span {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #4b5563;
}

.postStats span svg {
  margin-right: 0.5rem;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.pagination li {
  margin: 0 0.5rem;
}

.pagination button {
  padding: 0.75rem 1.1rem;
  border: none;
  background: #e0e7ff;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  font-size: 0.9rem;
}

.pagination button:hover {
  background: #c7d2fe;
  transform: scale(1.05);
}

.pagination button:disabled {
  background: #f3f4f6;
  cursor: not-allowed;
}

.pagination .active button {
  background: #6366f1;
  color: white;
  transform: scale(1.1);
}

.uploadButton {
  position: fixed;
  top: 70%; /* 화면의 세로 중간에 고정 */
  left: calc(50% + 600px); /* 리스트 컨테이너의 오른쪽에 고정 (컨테이너가 900px일 때) */
  transform: translate(-50%, -50%); /* 버튼의 중앙으로 위치를 조정 */
  background-color: #7879e5; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none; /* 테두리 제거 */
  border-radius: 50%; /* 동그랗게 만들기 */
  width: 60px; /* 버튼 너비 */
  height: 60px; /* 버튼 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  cursor: pointer; /* 커서 포인터로 변경 */
  transition: background-color 0.3s ease, transform 0.4s ease; /* 애니메이션 효과 */
}

.uploadButton:hover {
  background-color: #4740ca; /* 호버 시 배경색 */
}


.uploadButton svg {
  width: 24px; /* 아이콘 너비 */
  height: 24px; /* 아이콘 높이 */
  
}