.postDetailContainer {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.postAvatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 15px;
}

.postMeta {
  flex-grow: 1;
}

.postNickname {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.postCategory {
  background: #52c095;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.9em;
}

.postTime {
  font-size: 0.9em;
  color: #999;
  margin-right: 10px;
}

.postTitle {
  font-size: 2em;
  margin: 20px 0;
  color: #333;
}

.postContent {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444;
}

.postStats {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin-bottom: 20px;
  color: #666;
}

.dropdownIcon {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.dropdownMenu {
  width: 250%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdownMenuItem {
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}

.commentForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputContainer input {
  width: 80%;
  height: 40px;
  padding: 10px;
  padding-right: 80px; /* 버튼 공간 확보 */
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* padding 포함하여 크기 계산 */
}

.submitCommentButton {
  margin-right: 180px;
  position: absolute;
  right: 0; /* 여백 없이 오른쪽에 붙이기 */
  top: 0;
  bottom: 0;
  background-color: #52c095;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 0 5px 5px 0; /* 오른쪽 모서리만 둥글게 */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitCommentButton:hover {
  background-color: #3f8a71;
}


.comments {
  margin-top: 20px;
}

.comments h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comments ul {
  
  list-style: none;
  padding: 0;
}

.comments li {
  
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.comments li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentContent {
  display: flex;
  flex-direction: column;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.commentHeader span {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.commentHeader time {
  font-size: 0.8em;
  color: #999;
}

.commentText {
  font-size: 0.9em;
  color: #555;
}

.files {
  margin-top: 20px;
}

.files ul {
  list-style: none;
  padding: 0;
}

.files li {
  margin-bottom: 10px;
}

.files img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editComment {
  display: flex;
  flex-direction: column;
  width: 100%; /* 전체 너비를 차지하도록 설정 */
}

.editComment input {
  width: 100%;
  max-width: 600px; /* 원하는 최대 너비로 조정 */
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.buttonContainer {
  display: flex;
  gap: 10px; /* 버튼 간격 조절 */
  justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
}

.buttonContainer button {
  background-color: #52c095;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #3f8a71;
}

.commentDropdown {
  position: relative;
  cursor: pointer;
}

.commentDropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.commentDropdownMenuItem {
  padding: 10px 15px;
  margin-right: 15px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* .commentDropdownMenuItem:hover {
  background-color: #f5f5f5;
} */

.reportButton {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  margin-left: 10px;
}

.reportButton:hover {
  color: #c9302c;
}

.reportPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popupContent {
  display: flex;
  flex-direction: column;
}

.popupContent h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.popupContent input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.popupContent .submitButton,
.popupContent .cancelButton {
  background-color: #52c095;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.popupContent .cancelButton {
  background-color: #6c757d;
}

.popupContent .submitButton:hover {
  background-color: #3f8a71;
}

.popupContent .cancelButton:hover {
  background-color: #5a6268;
}
