.sidebar {
    width: 200px;
    position: fixed;
    top: 10;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 4px;
  }
  
  .sidebar a:hover {
    background-color: #5fe5bb;
  }