.paymentContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .packageInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .packageinfo img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .paymentMethod, .couponSelection, .priceInfo, .agreement {
    margin-bottom: 20px;
  }
  
  .paymentMethod label, .couponSelection label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  .priceInfo div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .agreement label {
    display: flex;
    align-items: center;
  }
  
  .paymentButton {
    width: 100%;
    padding: 15px;
    background-color: #25b69b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .paymentButton:hover {
    background-color: #1e9c84;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .popupContent button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #25b69b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .popupContent button:hover {
    background-color: #1e9c84;
  }
  